# Node modules and dependencies
Extension/node_modules/
Extension/package-lock.json

# Local development
Extension/.vscode/
Extension/.history/
Extension/*.log
Extension/.vscode-test

# Ignore built files
Extension/out/
Extension/dist/